body {
    background-color: gainsboro;
}
.container {
    width: 1050px;
    background-color: beige;
    padding: 50px;

}
.container h2 {
    color: lightseagreen;
    font-weight: bold;
}
form label {
    font-weight: bold;
}
form .btn {
    font-weight: bold;
}
.container p {
    margin-top: 20px;
    color: lightseagreen;
    font-weight: bold;
}
.container .lihat .btn.btn-outline-info {
    font-weight: bold;
}